.backgroundImageContainer {
    margin: 0 auto;
    border: 2px solid gray;
    min-height: 667px;
    max-height: 667px;
    min-width: 1000px;
    max-width: 1000px;
    background-image: url("Welcome-img.jpg");
    background-repeat: no-repeat;
}

.registerButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.loginButton {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.registerButton {
    font-size: 20px;
    cursor: pointer;
}