@media only screen and (max-width: 400px) {
    .backgroundImageContainer {
        margin: 30px auto;
        border: 1px solid gray;
        border-radius: 8px;
        width: 95%;
        height: 220px;
        background-image: url("Welcome-img.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    img {
        min-height: 100%;
    }

    .registerButtonContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .loginButton {
        font-size: 20px;
        margin-right: 10px;
        cursor: pointer;
    }

    .registerButton {
        font-size: 20px;
        cursor: pointer;
    }
}

@media only screen and (min-width: 400px) {
    .backgroundImageContainer {
        margin: 30px auto;
        border: 1px solid gray;
        border-radius: 8px;
        width: 90%;
        height: 220px;
        background-image: url("Welcome-img.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    img {
        min-height: 100%;
    }

    .registerButtonContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .loginButton {
        font-size: 20px;
        margin-right: 10px;
        cursor: pointer;
    }

    .registerButton {
        font-size: 20px;
        cursor: pointer;
    }
}


@media only screen and (min-width: 650px) {
    .backgroundImageContainer {
        margin: 70px auto;
        border: 1px solid gray;
        border-radius: 8px;
        width: 90%;
        min-height: 450px;
        background-image: url("Welcome-img.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .registerButtonContainer {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .loginButton {
        font-size: 20px;
        margin-right: 10px;
        cursor: pointer;
    }

    .registerButton {
        font-size: 20px;
        cursor: pointer;
    }
}


@media only screen and (min-width: 768px) {

    .backgroundImageContainer {
        margin: 20px auto;
        min-height: 450px;
        max-width: 90%;
        background-image: url("Welcome-img.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .registerButtonContainer {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .loginButton {
        font-size: 20px;
        margin-right: 20px;
        
    }

    .registerButton {
        font-size: 20px;
        
    }

    button {
        padding: 4px 7px;
    }
    button:hover {
        cursor: pointer;
    }
}
@media only screen and (min-width: 992px) {

    .backgroundImageContainer {
        margin: 20px auto;
        min-height: 667px;
        max-width: 1000px;
        background-image: url("Welcome-img.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .registerButtonContainer {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .loginButton {
        font-size: 20px;
        margin-right: 20px;
        
    }

    .registerButton {
        font-size: 20px;
        
    }

    button {
        padding: 4px 7px;
    }
    button:hover {
        cursor: pointer;
    }
}

@media only screen and (min-width: 1200px) {

    .backgroundImageContainer {
        margin: 20px auto;
        min-height: 667px;
        max-height: 667px;
        max-width: 1000px;
        background-image: url("Welcome-img.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .registerButtonContainer {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .loginButton {
        font-size: 20px;
        margin-right: 20px;
        
    }

    .registerButton {
        font-size: 20px;
        
    }

    button {
        padding: 4px 7px;
    }
    button:hover {
        cursor: pointer;
    }
}