.friendRequestCardContainer {
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    min-height: 200px;
}

.acceptFriendBtn {
    cursor: pointer;
    font-size: .8em;
    border-radius: 3px;
}

.acceptFriendBtn:hover {
    color: white;
    background-color: #737676;
    font-weight: 500;
}