.trailRiderCardContainer {
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    min-height: 200px;
}

.riderImageContainer {
    border: 1px solid gray;
    padding: 50px;
    max-height: 40px;
}

.addFriendBtn {
    max-width: 50px;
    max-height: 30px;
    margin: 20px 0 0 20px;
    border-radius: 10px;
}

.removeRiderBtn {
    max-width: 70px;
    max-height: 30px;
    margin: 20px 0 0 20px;
    border-radius: 10px;
}