.header {
    margin-bottom: 50px;
}

.header-banner-one {
    max-height: 30px;
    min-height: 30px;
    background-color: #2C77B8;
}

.header-banner-two {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.trailSearchBox {
    border: 1px solid gray;
    min-width: 500px;
    min-height: 400px;
    max-width: 700px;
    max-height: 400px;
    margin: 0 auto;
}

.trailSearchBox input {
    margin-top: 370px;
    margin-left: 20px;
}

.searchDescriptionContainer {
    border: 1px solid gray;
    min-width: 500px;
    min-height: 100px;
    max-width: 700px;
    max-height: 100px;
    margin: 0 auto;
}

.searchDescription {
    position: relative;
    font-size: 3em;
    margin-left: 65px;
    margin-top: 20px;
    color: gray;
}