.trailListContainer {
    z-index: 1;
}

.trailSearchBox {
    min-width: 500px;
    min-height: 400px;
    max-width: 700px;
    max-height: 400px;
    margin: 0 auto;
    margin-bottom: 5px;
}

img {
    height: 400px;
    width: 700px;
    border-radius: 3px;
}
.searchButton {
    background-color: gray;
}

.trailSearchBoxContainer {
    border: 1px solid lightgray;
    border-radius: 3px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    box-sizing: content-box;
    background-color: lightgray;
}

.dynamicTrailListContainer {
    max-width: 700px;
    margin: 0 auto;
}

.trailSearchBox input {
    margin-top: 370px;
    margin-left: 20px;
}
.addTrailBtn {
    margin-left: 300px;
}

.searchDescriptionContainer {
    background-color: #46759f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 100px;
    margin: 5px auto;
}

.searchDescription {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    color: white;
}