@media only screen and (max-width: 600px) {
    .burgerMenu {
        margin-left: 10px;
        margin-top: 0px;
    }

    .burgerMenu Button {
        padding: 0px;        
    }

    .burgerMenu svg {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .burgerMenu {
        margin-left: 6%;
        margin-top: 52px;
    }

    .burgerMenu Button {
        padding: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .burgerMenu {
        margin-left: 13%;
        margin-top: 52px;
    }

    .burgerMenu svg {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .burgerMenu {
        margin-left: 20%;
        margin-top: 52px;
    }

    .burgerMenu svg {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .burgerMenu {
        margin-left: 25%;
        margin-top: 52px;
    }

    .burgerMenu svg {
        width: 40px;
        height: 40px;
    }
}
