@media only screen and (max-width: 600px) {
  header {
    width: 100%;
  }
  
  .headerBannerOne {
    border: 2px solid #2c77b8;
    height: 35px;
    background-color: #2c77b8;
  }
  
  .headerBannerTwo {
    background-color: rgb(207, 203, 203);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 10px 0;
    font-weight: bold;
  }
  
  .headerBannerTwo > h1 {
    margin: 0 auto;
    font-size: 30px;
  }
  
  .logoutBtn {
    margin-top: -31px;
    margin-left: 220px;
  }

  .logoutBtn span {
    font-size: 12px;
  }
}

@media only screen and (min-width: 600px) {
  header {
    width: 100%;
  }
  
  .headerBannerOne {
    border: 2px solid #2c77b8;
    height: 35px;
    background-color: #2c77b8;
  }
  
  .headerBannerTwo {
    background-color: rgb(207, 203, 203);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 10px 0;
    font-weight: bold;
  }
  
  .headerBannerTwo > h1 {
    margin: 0 auto;
  }

  
  .logoutBtn {
    margin-top: -34px;
    margin-left: 700px;
  }
}


@media only screen and (min-width: 768px) {
  header {
    width: 100%;
  }
  
  .headerBannerOne {
    border: 2px solid #2c77b8;
    height: 35px;
    background-color: #2c77b8;
  }
  
  .headerBannerTwo {
    background-color: rgb(207, 203, 203);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 10px 0;
    font-weight: bold;
  }
  
  .headerBannerTwo > h1 {
    margin: 0 auto;
  }

  
  .logoutBtn {
    margin-top: -34px;
    margin-left: 700px;
  }
}

@media only screen and (min-width: 992px) {
  header {
    width: 100%;
  }
  
  .headerBannerOne {
    border: 2px solid #2c77b8;
    height: 35px;
    background-color: #2c77b8;
  }
  
  .headerBannerTwo {
    background-color: rgb(207, 203, 203);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 10px 0;
    font-weight: bold;
  }
  
  .headerBannerTwo > h1 {
    margin: 0 auto;
  }
  
  .logoutBtn {
    margin-top: -34px;
    margin-left: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    width: 100%;
  }
  
  .headerBannerOne {
    border: 2px solid #2c77b8;
    height: 35px;
    background-color: #2c77b8;
  }
  
  .headerBannerTwo {
    background-color: rgb(207, 203, 203);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 10px 0;
    font-weight: bold;
  }
  
  .headerBannerTwo > h1 {
    margin: 0 auto;
  }
  
  .logoutBtn {
    margin-top: -34px;
    margin-left: 1025px;
  }
}